config.py
recordsRefreshed.db
logs/
__pycache__/
.vscode
*.json*
*.jsonlines*
.coverage
test_results/
*.generated.py
data/recordsRefreshed.db
data/logs/*
data/archivedata/*
!data/archivedata/.gitkeep
!data/logs/.gitkeep
